body {
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.avatar {
    width: 160px;
    border-radius: 100%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    transition: transform 0.2s ease;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #f8edeb;
    color: #335c67;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    border: 3px solid #335c67;
    border-radius: 3%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}
img:hover {
    transform: scale(1.1); /* Scale up the image */
}



